*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
}

ul { 
  list-style-type: none;
}

.carousel {
  width: 80vw;
  height: 80vh;

  display: flex;
  flex-direction: column;
  /* overflow: auto; */
}

.carousel__button {
  background-color: transparent;
  padding: 6px;
  border-radius: 1vw / 1vh;
  transform: translateY(-50%);

  position: absolute;
  top: 50%;
  border: none;
  cursor: pointer;
}

.carousel__button:hover {
  background-color: rgb(230, 230, 230);
}

.carousel__button:active {
  background-color: lightgrey;
}

.carousel__button--left {
  left: -40px;
}

.carousel__button--right {
  right: -40px;
}

.carousel__button img {
  width: 20px;
}

.carousel__track-container {
  flex: 1;
  position: relative;
}

.carousel__track {
  position: relative;
  height: 100%;
  width: 100%;
}

.carousel__slide {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.carousel__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel__nav {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.carousel__indicator {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
}

.carousel__indicator.current-slide {
  background-color: grey;
}